@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');

:root {
  --font: 'Lato', sans-serif;
  --big-font: 'Montserrat', sans-serif;

  --red: #7b7474;
  --white: #f6f4f3;
  --blue: #276fbf;
  --dark-blue: #183059;
  --yellow: #f0a202;

  --star: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

html {
  display: grid;
  background-color: var(--dark-blue);
}

.container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 650px;
  height: 480px;
}

h1 {
  font-family: var(--font);
  text-align: center;
  margin-top: 2em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--white);
}

#timer {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font);
  font-size: 0.7em;
  letter-spacing: 5px;
  margin-top: 25%;
}

.days,
.hours,
.minutes,
.seconds {
  display: inline-block;
  padding: 20px;
  width: 100px;
  border-radius: 5px;
}

.days {
  background-color: var(--red);
}

.hours {
  background-color: var(--white);
  color: var(--dark-blue);
}

.minutes {
  background-color: var(--blue);
}

.seconds {
  background-color: var(--yellow);
}

.numbers {
  font-family: var(--big-font);
  color: var(--dark-blue);
  font-size: 4em;
}

.white {
  position: absolute;
  background-color: var(--white);
  height: 85px;
  width: 75px;
  left: 30%;
  top: 2%;
}

.white .triangle {
  border-bottom: 14px solid var(--white);
}

.white .string {
  background-color: var(--white);
  border: 1px solid var(--white);
}

.red {
  position: absolute;
  background-color: var(--red);
  left: 18%;
  top: 9%;
  height: 65px;
  width: 70px;
}

.red .triangle {
  border-bottom: 14px solid var(--red);
}

.red .string {
  background-color: var(--red);
  border: 1px solid var(--red);
}

.blue {
  position: absolute;
  background: var(--blue);
  height: 80px;
  width: 80px;
  left: 60%;
  top: 5%;
}

.blue .triangle {
  border-bottom: 14px solid var(--blue);
}

.blue .string {
  background-color: var(--blue);
  border: 1px solid var(--blue);
}

.balloon {
  border: 1px solid #000;
  border-radius: 50% 50% 50% 50%/ 40% 40% 60% 60%;
  z-index: 2;
}

.eye {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 40%;
  left: 22%;
  background-color: #000;
  border-radius: 50%;
}

.eye::after {
  content: '';
  left: 35px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  position: absolute;
}

.mouth {
  position: absolute;
  top: 45%;
  left: 43%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.happy {
  border: 2px solid;
  border-color: transparent #000 #000 transparent;
  transform: rotate(45deg);
}

.triangle {
  position: absolute;
  left: 40%;
  bottom: -10%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.string {
  position: absolute;
  height: 70px;
  width: 1px;
  left: 48%;
  top: 100%;
  z-index: -1;
}

.star {
  width: 20px;
  height: 20px;
  background: var(--white);
  -webkit-clip-path: var(--star);
  clip-path: var(--star);
}

.star-red {
  width: 30px;
  height: 30px;
  margin-left: 51px;
  margin-top: -5px;
  background-color: var(--red);
  clip-path: var(--star);
}
